.glass {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    -webkit-backdrop-filter: blur(7.1px);
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 0.3);
    border-top-width: 1px;
    border-right-color: rgba(255, 255, 255, 0.3);
    border-right-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-width: 1px;
    border-left-color: rgba(255, 255, 255, 0.3);
    border-left-width: 1px;

    min-width: max-content;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(249 250 251 / var(--tw-border-opacity));

    height: auto;
    width: auto;
    padding: 15px;
    max-width: 350px;
    height: auto;

    @apply border-4 border-gray-50 shrink-0 rounded-3xl;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type='file']{
    display: none;
}

.scrolling{
    height: auto;
    max-height: 600px;
    overflow-y: auto;
}